<% provide(:title, "About Me")
  @homeactive="active"
  @imag="Profile_Photo.jpg"
  @size= "50%"
  @alt="Rails" %>
<h1>About My Self</h1>
<p>
  My Name is Emmanuel Quijas Valades.I am son,brother and uncle.I'm a Computer Systems Engineer specialized in Software Engineering. I have great passion for new technologies and system programming. I always wanted to be a programmer. I got inspired by my Father to take this path for my life as he was also a programmer.

About my self, I'm from Irapuato, Guanajuato in Mexico, where I currently live. I consider that I'm a really commited person, either with job or people. I'm patient and thanks to that I always find a way to solve problems. I love challenges and learning more about what I Like.

</p>