<% provide(:title, "Band")
  @homeactive="active"
  @imag="killswitch.jpg"
  @size= "440x440"
  @alt="Rails" %>
<h1>Killswitch Engange</h1>
<p>
Killswitch Engange it's a metalcore band. What I like most of this band, was the religious influence their songs had during the time Howard Jones was in the band. This opened up the way to whole new songs that had a lot of passion.
</p>