<% provide(:title, "Home")
  @homeactive="active"
  @imag="rails_logo.png"
  @size= "440x320"
  @alt="Rails" %>
<h1>Welcome to My First Rails App</h1>
<p class="center">
  This is a simple app, designed as part of the <a href="https://www.railstutorial.org/book/filling_in_the_layout">Rails Tutorials.</a> Feel Free to take a look.
</p>