<% provide(:title, "Sport")
  @homeactive="active"
  @imag="sport.jpg"
  @size= "440x320"
  @alt="Rails" %>
<h1>Football</h1>
<p class="center">
  I Loved football for just one reason, It's the only sport, at least in my opinion, that requieres both, Physical proficiency as well as a strategic one.
</p>